body {
    margin: 0px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width : 400px;
}

input {
    border: 1px solid goldenrod;
    box-sizing: border-box;
    padding: 10px 7px;
    width: 100%;

}

button {
    background-color: goldenrod;
    border: none;
    color: white;
    width: 120px;
    margin-top: 5px;
    padding: 10px;
    font-weight: bold;
}

#clear-el {
    background-color: white;
    border: 1px solid goldenrod;
    color: goldenrod;
}

ul {
    text-align: left;
    padding-left: 0;
    margin-top: 20px;
}

li {
    list-style-type: none;
    margin-top: 5px;
}

li a {
    color: goldenrod;
}